/* .brick-out {
  justify-content: center;
}

.brick {
  width: 100px;
  height: 50px;
  background-color: #cc5522; /* Brick color */
  border: 1px solid #884433; /* Border color */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5); /* Optional shadow */
} */