.gaming-container {
  display: flex;
  flex-direction: row;
  flex-grow: 4
}
.words-display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-template-rows: repeat(20, 2fr);
}
.attempt-box {
  justify-content: center;
}
.ground {
  align-self: flex-end;
}
.bricks-layout {
  flex:1;
  align-self: flex-end;
}
