.wrapper {
  margin: 0 auto;
  border: 1px solid white;
  display: flex;
  flex-direction: row;
}
.container {
  flex: 1;
  padding: 2rem;
}
p {
  margin-bottom: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 3rem 0 1.38rem;
  font-weight: 300;
  line-height: 1.3;
}
button {
  background: white;
  color: var(--black);
  border: 0;
  padding: 5px 8px;
  font-family: var(--ibm-font);
}

footer {
  margin-top: 5rem;
  text-transform: uppercase;
}
nav {
  border: 1px solid red;
}
nav ul {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: flex-end;
}
nav li {
  margin: 1rem;
  list-style: none;
}
nav .guestmode li:hover {
  cursor: pointer;
}
.user-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.user-form label {
  padding: 1rem;
}
.gaming-container {
  border: 1px solid teal;
  display: flex;
  flex-direction: row;
  flex-grow: 4;
  width: 100%; /* Set the width to 100% */
  height: 700px;
  text-align: center;
  justify-content: center;
}
.game-stats {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: auto 0;
}
.words-display {
  /* position: absolute; */
  width: 70%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-template-rows: repeat(17, 2fr);
}
.brick-out {
  justify-content: center;
}
.gameover {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4rem;
}

.ground {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.attempt-box {
  justify-content: center;
}
.ground {
  align-self: flex-end;
}
.bricks-layout {
  flex: 1;
  align-self: flex-end;
}
.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing p {
  padding: 2rem 10rem;
}
