.wrapper {
  margin: auto;
  width: 80%;
}
.container {
  display: flex;
  flex-direction: column;
  border: 2px red solid;
}
/* button {

} */
#mid-body {
  height: 1000px;
  border: 3px solid blue;
}

.navbar {
  display: flex;
  border: 2px white;
  justify-items: end;
  justify-content: flex-end;
  height: 50px;
}
.navbar > * {
  flex-direction: row;
  margin-right: 1rem;
}
.footer {
  height: 50px;
}
.instructions {
  display: flex;
  flex-direction: column;
}
.instructions > * {
  margin: 0;
}
.gaming-container {
  display: grid;
  grid-template-columns: 5fr 1fr;
}
.gaming-container > * {
  margin: auto;
  align-self: end;
}
.game-action {
  display: flex;
  flex-direction: column;
}
.words-display {
  /* position: absolute; */
  width: 450px;
  height: 550px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-template-rows: repeat(17, 2fr);
}
#modal {
  position: fixed;
  display: grid;
  place-items: center;
  border: 2px yellow solid;
  margin: 10% 30% 30%;
  background-color: whitesmoke;
}
.game-over {
  display: flex;
  flex-direction: column;
}
.results {
  color: black;
}
