.wrapper {
  margin: 0 auto;
  border: 1px solid white;
  display: flex;
  flex-direction: row;

}
.sidebar {
  border: 1px solid green;
  width: 250px;
  overflow-y: auto;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}
.container {
  flex:1;
  padding: 2rem;
}

p {
  margin-bottom: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 3rem 0 1.38rem;
  font-weight: 300;
  line-height: 1.3;
}
/* main {
  margin-bottom: 4rem;
  border: 1px green;
} */

button {
  background: white;
  color: var(--black);
  border: 0;
  padding: 5px 8px;
  font-family: var(--ibm-font);
}
figure {
  margin: 0;
  padding: 0;
}
footer {
  margin-top: 5rem;
  text-transform: uppercase;
}
nav {
  border: 1px solid red;
}
nav ul {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: flex-end;
}
nav li {
  margin: 1rem;
  list-style: none;
}
nav .guestmode li:hover{
  cursor: pointer;
}
.user-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.user-form label {
  padding: 1rem;
}
.gaming-container {
  border: 1px solid teal;
  display: flex;
  flex-direction: row;
  flex-grow: 4;
  width: 100%; /* Set the width to 100% */
  height: 700px;
}
.words-display {
  /* position: absolute; */
  width: 70%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-template-rows: repeat(17, 2fr);

}
.attempt-box {
  justify-content: center;
}
.ground {
  align-self: flex-end;
}
.bricks-layout {
  flex:1;
  align-self: flex-end;
}
.landing {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing p {
  padding: 2rem 10rem;
}